body {
    font-family: 'Nunito', sans-serif;
}
.p-4{
    padding: 1rem;
}

nav a {
    padding: 0.5rem;
}
.border-l{
    border-width: .07rem;
}

.form div{
    margin-bottom: 15px;
}

.form div>input {
    display: block;
}

.form div>buttom {
    padding: 5px;
}

.form .form-error{
    font-size: .75rem;
    color: red;
    font-weight: bold;
}
